body {
   background-color: #FFFFFF;
font-family: 'Times New Roman', sans-serif;
}
.rectangle-1 {
   position: absolute;
   top: px;
left: 330px;
width: 292px;
height: 295px;
background: #FFFAFA;
}   
img {position: absolute;
top: 20px;
left: 35px;
width: 250px;
height: 270px;
}
.rectangle-2 {
        position: absolute;
        top: 380px;
left: 330px;
width: 292px;
height: 219px;
background: #FFFAFA;
}
.rectangle-3 {
        position: absolute;
   top: 608px;
left: 330px;
  width: 292px;
  height: 150px;
  background: #FFFAFA;
}
.rectangle-4 {
       position: absolute;
   top: 770px;
left: 330px;
width: 292px;
height: 150px;
background: #FFFAFA;
}
.rectangle-5 {
        position: absolute;
   top: 940px;
left: 330px;
width: 292px;
height: 150px;
background: #FFFAFA;
}
.rectangle-6 {
        position: absolute;
    top: px;
    left: 700px;
width: 291px;
height: 295px;
background: #FFFAFA;
}
.rectangle-7 {
        position: absolute;
   top: 400px;
left: 700px;
width: 292px;
height: 219px;
background: #FFFAFA;
}
.rectangle-8 {
        position: absolute;
   top: 645px;
left: 700px;
width: 292px;
height: 350px;
background: #FFFAFA;
}
.rectangle-9 {
        position: absolute;
   top: 1040px;
left: 700px;
width: 292px;
height: 180px;
background: #FFFAFA;
}
.rectangle-10 {
        position: absolute;
   top: 1100px;
left: 330px;
width: 292px;
height: 120px;
background: #FFFAFA;
}
.rectangle-11 {
        position: absolute;
   top: px;
left: 300px;
width: 350px;
height: 1150px;
background: #FF00FF;
}
.rectangle-12 {
        position: absolute;
   top: px;
left: 670px;
width: 350px;
height: 1150px;
background: #FF00FF;
}